# Set the proxy count to match how many proxies are used for this app (eg cloudflare, or reverse-proxy)
PROXY_COUNT=0

# OpenAI API key
OPENAI_API_KEY=

# DeepInfra API key
DEEPINFRA_API_KEY=

# Replicate API key
REPLICATE_API_KEY=

# Runware API key
RUNWARE_API_KEY=

# Fal.ai API key
FAL_API_KEY=

# Wavespeed API key
WAVESPEED_API_KEY=

# Chutes API key
CHUTES_API_TOKEN=

# https://nano-gpt.com
NANO_GPT_API_KEY=

# xAI API key
XAI_API_KEY=

# Google Gemini API key
# Add multiple keys separated by comma: key,key2
# The first key will be used for paid models.
GOOGLE_GEMINI_API_KEY=key,key2,key3

# Google Vertex 
# Google Cloud Project ID (required)
GOOGLE_CLOUD_PROJECT_ID=your-project-id

# Google Cloud Region (optional, defaults to us-central1)
GOOGLE_CLOUD_LOCATION=us-central1

# Service Account Key (required) - base64 encoded JSON
GOOGLE_SERVICE_ACCOUNT_KEY=

# OpenRouter API key(s)
OPENROUTER_API_KEY=

# Optional authentication settings
# Leave blank to disable charging

# Optional database connection string to charge for image generation
DB_PORT=5432
DB_PASSWORD=
DB_USER_AND_DB=image-router
TURSO_DATABASE_URL=libsql://****.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERCg

# JWT secret for temporary tokens
JWT_SECRET=WGRhowefndkjsf

# Webshare proxy settings for Gemini Flash
PROXY_URL=http://proxyUsername:proxyPassword@proxyHost:proxyPort

# This is only required to run tests
TEST_USER_API_KEY=

# Application
ENVIRONMENT="development"
JWT_SECRET="your-jwt-secret-for-api-keys"
PROXY_COUNT="1"